*.pro.user
*.pro.user.*
*.autosave

# QtCreator CMake
CMakeLists.txt.user*

.DS_Store
.FsEnv.cmake

# Never add /build* to .gitignore .
# Configure your tool to not use build directory inside source directory.
